*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    
}
.headermenu {
    width: 100%;
    height: auto; /* adjust height for wrapping */
    background-color: rgb(47, 10, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap; /* allow wrapping on small screens */
}


.navbar-brand {
    color: lightblue;
    font-size: 40px;
    font-weight: 700;
}

.nav-link {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
}
    .pagestart{
        height: 250px;
        width: 100%;
        display: flex;
        background-color: black;
        text-align: center;
        color: lightblue;
        text-transform: uppercase;
       
    }
    #textt{
        display: flex;
        font-size: 50px;
        margin-top: 90px;

    }
    
.section1{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    align-content: center;
}
#col1,#col2,#col3,#col4{
    width: 280px;
    height: 400px;
    background-color: black;
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgb(12, 12, 12); 
}
#section1header{
    display: flex;
    color: rgb(42, 17, 185);
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
}
#shoeimage,#bagimage,#dressimage,#jewelryimage{

    width: 100%;
    height: 200px;
    margin-top: -80px;
}
#Hcaption{
    color: white;
    font-size: 32px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}
#shoetext,#bagtext,#dresstext,#jewelrytext{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
#shoebtn,#bagbtn,#dressbtn,#jewelrybtn{
    width: 145px;
    height: 45px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    align-content: center;
    margin-left: 75px;
    border: none;
    margin-bottom: 15px;
}
#shoebtn:hover,#bagbtn:hover,#dressbtn:hover,#jewelrybtn:hover{
    background-color: yellow;
   border-radius: none;
   transform: translateY(0.5);
   scale: 1.1;
}
#shoelink,#baglink,#dresslink,#jewelrylink{
    color: white;
    text-decoration: none;
}
#shoelink:hover,#baglink:hover,#dresslink:hover,#jewelrylink:hover{
    color: black;
}
.footer{
    background-color: black;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#sec1{
    margin-top: 180px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
}
    

#texthlink{
   
}
#texth{
    color: lightblue;
    font-size: 40px;
    font-weight: 900;
    text-decoration: dotted;
    text-transform: uppercase;
    margin-top: 20px;

}
#textb{
    color: white;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    
    
}
#sec1icons{
    display: flex;
    margin-top: 20px;
    
    
}
#fbiconlink,#instaiconlink,#kediniconlink,#amazoniconlink{
   
}
#socialicons{
    display: flex;
    width: 10px;
    height: 10px;
    filter: invert(100%);
    margin-top: 20px;
    margin-left: 45px;

}
#socialimg{
    width: 25px;
    height: 25px;

}
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 190px;
  
}
#menuhead{
    color: white;
    font-size: 40px;
    display: flex;
    font-weight: 900;
    text-decoration: dotted;
    margin-right: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;

}
#homelink,#abwtuslink,#Contactlink,#newslink,#servicelink{
   display: flex;
   font-size: 16px;
   margin-bottom: 13px;
   text-decoration: none;
   color: white;
}
#library{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    margin-top: 200px;
    margin-bottom: 200px;
}
#libraryhead{
    color: white;
    font-size: 40px;
    display: flex;
    font-weight: 900;
    text-decoration: dotted;
    margin-right: 20px;
    text-transform: uppercase;

}
#img12{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
#img34{
    display: flex;
    margin-top: 20px;
    gap: 20px;

}
#baglib,#shoelib,#dresslib,#jewelib{
    height: 100px;
    width: 100px;
}